<div class="container">
  <% safe_url = safe_entry_url(@entry) %>
  <h3>
    <% if safe_url %>
      <%= link_to @entry.title, safe_url %>
    <% else %>
      <%= h @entry.title %>
    <% end %>
  </h3>
  <i>published on <%= @entry.published %> by <%= @entry.author %></i>
  <p>
    <%= sanitize(@entry.content) %>
  </p>
</div>
