<h5>Exterior Features</h5>
<hr/>
<div class='row'>
  <div class='col-md-12'>
    <p>Attached Garage <%= @property["AttachedGarageYN"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["FenceYN"] == '1' %>
      <p>Fencing: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Type: <%= h exterior_features(@property["Fencing"]) %>
        </li>
      </ul>
    <% else %>
      <p>Fencing: No</p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <p>Garage Spaces <%= @property["GarageSpaces"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    Lot Features: <%= exterior_features(@property["LotFeatures"]) %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    Lot Size Source <%= @property["LotSizeSource"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    Lot Size Units <%= @property["LotSizeUnits"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    Parking Total <%= @property["ParkingTotal"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["PatioYN"].present? %>
      <p>Patio: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Patio Features: <%= h @property["PatioAndPorchFeatures"] %>
        </li>
      </ul>
    <% else %>
      <p>Patio: No</p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["PoolPrivateYN"] == 0 %>
      <p>Private Pool: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Pool Features: <%= h @property["PoolFeatures"] %>
        </li>
      </ul>
    <% else %>
      <p>Private Pool: No</p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    Property Attached <%= @property["PropertyAttachedYN"] %></p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["SpaYN"] == 0 %>
      <p>Spa: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Spa Features: <%= h @property["SpaFeatures"] %>
        </li>
      </ul>
    <% else %>
      <p>Spa: No</p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["ViewYN"] == 0 %>
      <p>View: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          View of: <%= h @property["View"] %>
        </li>
      </ul>
    <% else %>
      <p>View: No</p>
    <% end %>
  </div>
</div>
