<h5>Interior Features</h5>
<hr>
<div class="row">
  <div class='col-md-12'>
    <p>Full Bathrooms: <%= @property["BathroomsFull"] %></p>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <p>Common Walls: <%= @property["CommonWalls"] == 'NCW' ? 
    'No Common Walls' 
    : 
    'Common Walls' 
    %></p>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <% if @property["CoolingYN"].present? %>
      <p>Cooling: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Type: <%= h interior_features(@property["Cooling"]) %>
        </li>
      </ul>
    <% else %>
      <p>Cooling: No</p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @property["FireplaceYN"] == 0 %>
      <p>Fireplace: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Features: <%= h @property["FireplaceFeatures"] %>
        </li>
      </ul>
    <% else %>
      <p>Fireplace: No</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <% if @property["HeatingYN"].present? %>
      <p>Heating: Yes</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          Type: <%= h interior_features(@property["Heating"]) %>
        </li>
      </ul>
    <% else %>
      <p>Heating: No</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <% if @property["InteriorFeatures"].present? %>
      <div class='row'>
        <div class='col-md-12 bg-light p-2'>
          Interior Features: <%= h @property["InteriorFeatures"] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <% if @property["LaundryYN"].present? %>
      <p>Laundry Features:</p>
      <ul class='list-group'>
        <li class='list-group-item bg-light p-2 border-0'>
          <%= h interior_features(@property["LaundryFeatures"]) %>
        </li>
      </ul>
    <% else %>
      <p>Laundry Features: No</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <p>Levels: <%= @property["Levels"] %></p>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <p>Main Level Bathrooms: <%= @property["MainLevelBathrooms"] %></p>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <p>Main Level Bedrooms: <%= @property["MainLevelBedrooms"] %></p>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <p>Room Type: <%= h interior_features(@property["RoomType"]) %></p>
  </div>
</div>
