<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <div class='col-md-6'>
      <a class="my-0 mr-md-auto" href="<%= root_url %>" data-turbolinks="false">
      	<%= image_tag "thehouseguy_banner_main.jpg", class: "my-brand" %>
    	</a>
    </div>
    <div class='col-md-6'>
      <div class='row float-right'>
        <div class="my-2 my-md-0 mr-md-3">
          <nav>
            <% if current_user %>
              Logged in as <%= current_user.email %>
              <%= link_to 'Log out', logout_path('current'), method: 'delete', class: 'p-2' %>
            <% else %>
              <%= link_to 'Sign Up', signup_path, class: 'p-2' %>
              <%= link_to 'Log In', login_path, class: 'p-2' %>
            <% end %>
            <%= link_to "Blog", posts_path, class: "p-2 text-dark" %>
            <% if current_user.present? && current_user.admin %>
              <%= link_to "Team", "/", class: "p-2 text-dark" %>
            <% end %>
            <%= link_to "Buying", "/", class: "p-2 text-dark" %>
            <%= link_to "Selling", "/", class: "p-2 text-dark" %>
            <%= link_to "About", "/", class: "p-2 text-dark" %>
          </nav>
      </div>
    </div>
  </div>
</div>
