<div class="container">
  <%= form_tag search_posts_path, method: :get do %>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search Blog Posts...' %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
        style=" background-image:
                  linear-gradient(to right, #0f0f0f, #000000, transparent),
                  url('<%= url_for() %>');
                background-size: 50% contain;
                background-repeat: no-repeat;
                background-position: right; ">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><%= @last_five[0].title %></h1>
      <p class="lead my-3"><%= sanitize @last_five[0].body.truncate(100) %></p>
      <p class="lead mb-0"><a href="<%= post_path(@last_five[0].id) %>" class="text-black font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  <div class="row my-4">
    <% @last_five[1..2].each do |post| %>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="<%= post_path(post.id) %>"><%= post.title %></a>
            </h3>
            <div class="mb-1 text-muted"><%= Date.parse(post.created_at.to_s).strftime(("%B %e %Y")) %></div>
            <p class="card-text mb-auto"><%= sanitize post.body.truncate(100) %></p>
            <a href="<%= post_path(post.id) %>">Continue reading</a>
          </div>
          <div class="cropped-image">
            <%= image_tag post.thumbnail if post.thumbnail.attached? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Web Log
      </h3>
      <% @last_five[3..-1].each do |post| %>
        <div class="blog-post">
          <h2 class="blog-post-title">
            <a class="text-dark" href="<%= post_path(post.id) %>">
              <%= image_tag post.original_image, class: "img-fluid my-4" if post.original_image.attached? %>
              <%= post.title %>
            </a>
          </h2>
          <p class="blog-post-meta"><%= Date.parse(post.created_at.to_s).strftime(("%B %e %Y")) %> by <a href="#">Mark</a></p>
          <%= sanitize post.body %>
        </div><!-- /.blog-post -->
      <% end %>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Welcome to The House Guy Blog. We explore some of the real estate questions that people care most about.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <% @archives.each do |a| %>
            <li><a href="<%= post_path(a.id) %>"><%= a.title %></a></li>
          <% end %>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
